# cpp00
megaphone
phonebook
log_gen

# cpp01
BraiiiiiiinnnzzzZ
Moar_brainz!
Hi_this_is_brain
Sed_is_for_losers
Harl_2.0
harlfilter

# cpp02
fixed

# cpp04
Polymorphism
SetWorldOnFire
AbstractClass
Interface

# cpp05
bureaucrat
form
28B
*_shrubbery
coffee_maker

# object files
*.o

# vscode
.vscode
